* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #71b0df;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Header */
header {
    background-color: #66666603;
    /* border: 1px solid #ccc; */
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    font-family: 'Bruno Ace SC';
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 0;
  opacity: 1.5;
}

a.icon-opacity {
  background: rgba(3, 172, 240, 0.5);
}

code {
  font-size: 16px;
}

/* Full Screen Monitors */
@media (max-width: 1509px) {
    :root {
      /* Navigator */
          --nav-width: 14%;
          --nav-background-color: #71b0df;
          --nav-padding: 20px;
          --nav-text-align: justify;
          --nav-font-size: 25px;
          --nav-opacity: 0.9;

       /* Article */
          --article-padding: 13px 13px 10px 10px;
          --article-background-color: #71b0df;
          --article-overflow: auto;
          --article-opacity: 0.89;
      }

      /* Navigator */
      nav {
          float: left;
          width: var(--nav-width);
          height: var(--nav-height);
          background-color: var(--nav-background-color);
          padding: var(--nav-padding);
          text-align: var(--nav-text-align);
          font-size: var(--nav-font-size);
          opacity: var(--nav-opacity);
      }

      nav ul {
          list-style-type: none;
          padding: 0;
          margin: 13px;
          font-family: 'Prompt', sans-serif;
      }

      /* Section */
      section::after {
        content: "";
        display: table;
        clear: both;
      }

      /* Article */
      article {
        float: left;
        padding: var(--article-padding);
        width: 100%;
        background-color: var(--article-background-color);
        height: var(--article-height);
        overflow: var(--article-overflow);
        opacity: var(--article-opacity);
      }

      /* Top Nav Bar */
      .navbar-blog {
        opacity: 1.5;
        overflow: hidden;
        width: 100%;
        background-color: white;
      }

      .navbar-blog a {
        font-family: 'Prompt', sans-serif;
        padding: 14px 16px;
        text-decoration: none;
        
      }

      /* Change the color of links on hover */
      .navbar-blog a:hover {
        background-color: #4354ca;
        color: #f2f2f2;
      } 

      /* Blog Text */
      
      .blog-post {
        opacity: 1.5;
        overflow: hidden;
        width: 100%;
        padding: 20px 42px 42px 42px;
        background-color: white;
        padding-left: 0;
        margin-left: 0;
      }

      /* Footer */
      footer {
        background-color: #66666603;
        height: 100%;
        text-align: center;
        color: white;
        position: fixed;
      }

      .navbar-foot {
        overflow: hidden;
        font-family: 'Prompt', sans-serif;
        opacity: 0.89;
        margin: 0 auto;
        width: 98.91%;
        max-width: 100vw;
      }

      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        color: white;
      }

      a {
        display:inline-block;
        margin-right:10px;
        padding:5px 0;
        opacity: 1.5;
      }

      a.icon-opacity {
        background: rgba(3, 172, 240, 0.5);
      }

    }
}

/* Wide Screen Monitors */
@media (max-height: 668px) {
    :root {
    height: 428px;
    }
}

/* Mobile Screens */

@media (min-width: 350px), (max-width: 390px) and (max-width: 414px) {
    :root {
        --h1-font-size: 42px;
      
        --article-padding: 0px 10px 10px 9px;
        --article-height: 345px;

        --navbar-blog-opacity: 1.5;
        --navbar-blog-overflow: hidden;
        --navbar-blog-height: 105px;
        --navbar-blog-width: 100%;
        --navbar-blog-background-color: white;
        --navbar-blog-padding: 0px 10px 10px 9px;

        --navbar-blog-a-padding: 10px 15px;
      
        --navbar-foot-font-family: 'Prompt', sans-serif;
        --navbar-foot-opacity: 0.89;
        --navbar-foot-margin: 0 auto;

        --blog-post-padding: padding: 21px 16px 41px 21px;
      }
  
      h1 {
        font-size: var(--h1-font-size);
      }

      /* Top Nav Bar */
      .navbar-blog {
        opacity: var(--navbar-blog-opacity);
        overflow: var(--navbar-blog-overflow);
        height: var(--navbar-blog-height);
        width: var(--navbar-blog-width);
        background-color: var(--navbar-blog-background-color);
        padding: var(--navbar-blog-padding);
      }
      
      .navbar-blog a {
        padding: var(--navbar-blog-a-padding);
        font-size: 13px;
      }

      /* Article */
      article {
        padding: var(--article-padding);
      }

      .blog-post {
        padding: var(--blog-post-padding);
      }

      /* Footer */
      .navbar-foot {
        font-family: var(--navbar-foot-font-family);
        opacity: var(--navbar-foot-opacity);
        margin: var(--navbar-foot-margin);
        width: 100%;
        max-width: 100vw;
      }
    }
}

@media (max-width: 500px) {
  .navbar-foot {
    position: relative;
    z-index: 1;
  }
}

/* Navigator */
nav {
  float: left;
  width: 14%;
  background-color: #71b0df;
  padding: 20px;
  text-align: justify;
  font-size: 25px;
  opacity: 0.9;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 13px;
  font-family:'Prompt', sans-serif;
}

/* Section */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Article */
article {
  float: left;
  padding: 0px 10px 10px 9px;
  width: 100%;
  heigt: 100%;
  max-height: 786px;
  background-color: #71b0df;
  overflow: auto;
}

/* Top Nav Bar */
.navbar-blog {
  opacity: 1.5;
  overflow: hidden;
  width: 100%;
  height: 95px;
  background-color: white;
  text-align: left;
}

.navbar-blog a {
  font-family: 'Prompt', sans-serif;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 22px;
}

.navbar-blog a:hover {
  background-color: #ddd;
  color: black;
}

/* Change the color of links on hover */
.navbar-blog a:hover {
  background-color: #4354ca;
  color: #f2f2f2;
} 

/* Blog Text */

.blog-post {
  opacity: 1.5;
  overflow: hidden;
  width: 100%;
  padding: 7px 16px 41px 21px;
  /* height: auto; */
  /* min-height: 499px; */
  background-color: white;
}

/* Footer */
footer {
  background-color: #71b0df;
  width: 100%;
  height: 100%;
  text-align: center;
  color: blue;
  position: fixed;
}

.navbar-foot {
  overflow: hidden;
  font-family: 'Prompt', sans-serif;
  opacity: 0.89;
  width: 100%;
  max-width: 100vw;
  margin: 0px auto;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: white;
}
